
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" >МЕНЕДЖЕР ФІНАНСІВ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        

      <li class="nav-item">
            <span class="nav-link active"><%= link_to "Home", home_path %></span>
      </li>

      <li class="nav-item">
            <span class="nav-link active"><%= link_to "Reports", reports_path %></span>
      </li>
      
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Category
          </a>
          <ul class="dropdown-menu">
            <span class="dropdown-item"><%= link_to "categories", categories_path %></span>
            <li><hr class="dropdown-divider"></li>
            <span class="dropdown-item"><%= link_to "new category", new_category_path %></span>
          </ul>
        </li>

      </ul>
      <form>        
        <%= form_tag search_path, method: :get do %>
        <%= label_tag :search_term, "Пошук:" %>
        <%= text_field_tag :search_term %>
        <%= submit_tag "Пошук" %>
        <% end %>
        </form>
    </div>
  </div>
</nav>





