<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= category.description %>
  </p>

  <ul>
    <li>
      <span class="dropdown-item"><%= link_to "operations", category_operations_path(category) %></span>
        <li>
      <span class="dropdown-item"><%= link_to "new operation", new_category_operation_path(category) %></span>
    </li>
  </ul> 

</div>




