<p style="color: green"><%= notice %></p>

<%= render @category %>


<div class="button-container">
  <%= link_to "operations", category_operations_path(@category), class: 'btn btn-primary', style: 'background-color: rgb(108,117,125);' %>
  <%= link_to "new operation", new_category_operation_path(@category), class: 'btn btn-primary', style: 'background-color: rgb(108,117,125);' %> |
  <%= link_to "Edit", edit_category_path(@category), class: 'btn btn-primary', style: 'background-color: rgb(108,117,125);' %>
  <%= link_to "Back", categories_path, class: 'btn btn-primary', style: 'background-color: rgb(108,117,125);' %>
  <%= button_to "Del", @category, method: :delete, class: 'btn btn-primary', style: 'background-color: rgb(108,117,125);' %>
</div>
