<p style="color: green"><%= notice %></p>

<h1></h1>


<h1>Operations</h1>

<div id="operations">
  <% @operations.each do |operation| %>
    <%= render operation %>
    <div class="button-container">
    <p>
      <%= link_to "Show", [@category, operation], class: 'btn btn-primary', style: 'background-color: rgb(108,117,125);' %>
      
    </p></div>
  <% end %>
  <%= link_to "New", new_category_operation_path(@category), class: 'btn btn-primary', style: 'background-color: rgb(108,117,125);' %>


<%= paginate @operations %>

