<p style="color: green"><%= notice %></p>

<%= render @operation %>

<div>
  <%= link_to "Edit this operation", edit_category_operation_path(@category, @operation) %> |
  <%= link_to "Back to operations", category_operations_path(@category) %>

  <%= button_to "Destroy this operation", [@category, @operation], method: :delete %>
</div>
