<p style="color: green"><%= notice %></p>

<%= render @operation %>

<div>
<div class="button-container">
  <%= button_to 'Del ', [@category, @operation], method: :delete, class: 'btn btn-primary', style: 'background-color: rgb(108,117,125);' %>
  <%= link_to 'Edit', edit_category_operation_path(@category, @operation), class: 'btn btn-primary', style: 'background-color: rgb(108,117,125);' %>
       <%= link_to 'Back', category_operations_path(@category), class: 'btn btn-primary', style: 'background-color: rgb(108,117,125);' %>
</div>
</div>



